{% load static%}
<section id="about" class="about-mf sect-pt4 route col-xs-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{% static 'img/picmy1.jpg' %}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Muhammed Shamil K C</span></p>
                      <p><span class="title-s">Profile: </span> <span>full stack developer, Python Programmer</span></p>
                      <p><span class="title-s">Email: </span> <span>muhammedshamil299@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>+91 7736177471</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>HTML,CSS,Javascript</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Python</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Django Framework</span> <span class="pull-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>mySQL</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    Iam a young bca graduate who has intrests in web development and python programming. Iam excited about creating high class web applications and programms.
I have done some projects implying the real life problems and Iam still doing mutiple projects to improve my skills. I have relevant knwoledge in Object-oriented Programming,
Data Structures and Algorithms, Database Development, debugging etc. and I also have basic knowledge in c ,c++ ,java ,php, node.js, etc.

                  </p>
                  <p class="lead">
                    Iam an excellent self learner and error rectifier.
                    I learned python programming and django framework myself using online resourses and done so many projects.
                  </p>
                  <p class="lead">
                    I have great enthusiasm for tecnology since my school days.
                    I always wanted to explore my potential by giving my best in the tecnology industry.


                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>