<section id="work" class="portfolio-mf sect-pt4 route col-xs-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              My works (recent last)
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      {% for i in projects %}
      <div class="card col-xs-12  col-lg-12" >
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <HR>
          <p class="card-text">{{i.description}}</p>
          <HR>
          <p>{{i.link|urlize}}</p>
          <HR>

        </div>


      </div>
      <BR>
      {% endfor %}
    </div>
  </section>