<section id="services" class="services-mf pt-5 route col-xs-12">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Area of Expertise
            </h3>
            <!-- <p class="subtitle-a">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p> -->
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-globe2"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Web Development</h2>
              <p class="s-description text-center">
                 Passionate about developing high quality websites.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-code"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Python development</h2>
              <p class="s-description text-center">
                Intermediate level python coder.

              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-brush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Graphic Design</h2>
              <p class="s-description text-center">
                Design logos, posters, flyers etc.

              </p>
            </div>
          </div>
        </div>


        </div>
        </section>