body{
    background-color: black;
    color:white;
}

a{
    text-decoration: none;
    color: inherit;
}

.center-class{
    margin: auto;
    padding: auto;
}

.category-view{
    height: 150px;
    width: 150px;
    border: 3px solid white;
    padding-top: 55px;
    margin: 10px;
    text-align: center;
    color: #000;
    background-color: white;
    
}






